@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900;1,100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%;
 background-color: #414a4c;

}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
 min-height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;

}


.fullsite{
    width: 100%;
    height: 100%;
  }

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}

a{
  color: white;
  text-decoration: none;
}

.logo{
  color:#A0CA92;;
  font-size: 50px;
  font-weight: 700;
}
.navbar ul{
  display: flex;
}

.navbar ul li{
  list-style: none;
  margin-left: 35px;
}

.navbar ul li a{
  font-size: 30px;
  font-weight: 200;
  transition: .5s;
}

.navbar ul li a:hover{
  color: #A0CA92;
  transition: all ease-in-out .2s;
}

#home {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  gap: 50px;
  color: white;
  padding-top: 80px; 
  height: 100vh; 
}

.home-info h1{
  font-size: 55px;
}

.home-info h2{
  display: inline-block;
  font-size: 32px;
}

.home-info h2 span{
  position: relative;
  display: inline-block;
  color: #A0CA92;
}


.home-info .btn-sci{
  display: flex;
  align-items: center;
}

.btn{
  display: inline-block;
  margin-left: 10px;
  padding: 10px 30px;
  background-color: #A0CA92;
  border-radius: 40px;
  font-size: 16px;
  color: white;
}

.home-info .btn-sci .sci{
  margin-left: 20px;
}

.home-info .btn-sci .sci a{
  display: inline-flex;
  padding: 8px;
  border: 2px solid #A0CA92;
  border-radius: 50%;
  font-size: 20px;
  color: #A0CA92;
  margin: 0 8px;
  transition: .5s;
}

#about{
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  gap: 50px;
  color: white;
  padding-top: 80px; 
  height: 100vh; 
}

#about img{
  height: auto;
  width: 350px;
  margin-right: 70px;
  border-radius: 15px;
}

.main{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about_text{
  width: 550px;
}

h2 {
 color: white;
 font-size: 75px;
 margin-bottom: 20px;
}

 .about_bio{
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 45px;
}

.know{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  width: 800px;
  height: 40px;
  color: white;
  font-size: 30px;
}

.knowText{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  width: 800px;
  height: 40px;
  color: white;
  font-size: 15px;
}


#project {
  width: 100%;
  padding: 50px ;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #414a4c;
}

.title {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.first-set{
  display: flex;
  /* background-color: aliceblue; */
  
}

.second-set{
  display: flex;
  /* background-color: aliceblue; */
  width: 91%
}

.button-container {
  position: relative;
  width: calc(50% - 20px);
  /* width: calc(30% - 20px); */
  margin: 20px;
  box-sizing: border-box;
}

.button-container img {
  width: 100%;
  height: 500px;
}

.overlay,
.overlays {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 92.9%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
  color: #fff;
}

.button-container:hover .overlay,
.button-container:hover .overlays {
  opacity: 1;
}


p, h4{
  color:white;
}

img {
  width: 300px;
  height: 300px;
}


#contact{
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  gap: 50px;
  color: white;
  padding-top: 80px;
}

.contact_info{
  width: 100%;

}

.contactBox{
  margin: 0 auto;
  width: 80%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.email{
  display: flex;
}

.form{
  font-size: 40px;
  margin: 0 auto;
  margin-right: 30px;
  width: 750px;
  margin-top: 45px;
}

 a{
  text-decoration: none;
 }

 footer{
  width: 100%;
  background-color: #729b79;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy{
  width: 550px;
  padding: 35px;
  padding-left: 150px;
}


.wrapper {
  display: flex;

}

.wrapper .static-txt {
  color: white;
 
}

.wrapper .dynamic-txt {
  margin-left: 15px;
}

.dynamic-txt li {
  list-style: none;
  color:  #A0CA92;
  font-size: 35px;
  position: relative;
}

.dynamic-txt li {
  position: relative;
}

.dynamic-txt li::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #414a4c;
  border-left: 2px solid  #A0CA92;
  animation: typing 3s steps(10) infinite;
}

@keyframes typing {
  40%, 60% {
      left: calc(100% + 30px);
  }
  100%{
      left: 0;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    padding: 15px;
  }
  .text {
    font-size: 20px;
    margin-top: 10px;
  }
  .static-txt, .dynamic-txt  li {
    font-size: 10px;
  }

  .social {
    margin-top: 20px;
    gap: 15px;
  }

  .social h6 {
    font-size: 16px;
  }

  .viewProject {
    font-size: 14px;
    padding: 6px 12px;
  }

  #arrow {
    font-size: 28px;
    margin-top: 20px;
  }

  .button-container {
    width: 100%;
    margin: 20px 0;
  }

  .button-container img {
    height: 350px; 
  }

  p {
    font-size: 12px; 
    padding: 10px;
  }

  .overlay,
  .overlays {
    height: 80%;
    justify-content: flex-start; 
  }

  h4 {
    font-size: 16px;
  }

  #project {
    padding: 20px;
  }
    #about {
  padding: 20px;
}

.main {
  flex-direction: column;
  text-align: center;
}

.about-text {
  max-width: 100%;
  padding: 10px;
}

.about-text h2 {
  font-size: 28px;
}

.about_bio {
  font-size: 16px;
}

h6 {
  font-size: 18px;
  flex-direction: column-reverse;
  align-items: baseline;
}

.know {
  gap: 10px;
  flex-direction: column-reverse;
  align-items: baseline;
}

.know i {
  font-size: 15px;
  flex-direction: column-reverse;
}

.knowText p {
  font-size: 0px;
}

#contact {
  padding: 200px;
}


.contact_info .form h2 {
  font-size: 28px;
}


.contactBox .email,
.contactBox  {
  font-size: 16px;
  flex-direction: column;
  align-items: center;
}


}



